<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            the <span class="header-bold">key hooks</span>
        </h1>

        <p>Here are the <span class="header-bold">key hooks</span> - No visible screws, solid piece of bent 5/16th" cold rolled steel.
        </p>

        {{!-- <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Details:
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="#/">Lorem</a>
            </li>
        </ul> --}}
    </div>
    
</div>