<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            the <span class="header-bold">simple cabinet</span>
        </h1>

        <p>This piece served two purposes: an excuse to use my new router table, and a place to hide my deodorant.
        </p>
        <p>Here is the <span class="header-bold">simple cabinet</span> - Pine boards, 45ยบ glued joints, nothing special here... just a simple cabinet.
        </p>

        {{!-- <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Details:
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="#/">Lorem</a>
            </li>
        </ul> --}}
    </div>
    
</div>