.application {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.application-content {
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: $menu-width;

	// transition-property: padding, transform;
	// transform: translate3d(0, 0, 0);

	&.is-dragging {
		transition-property: none;
	}
}