.copy {
	max-width: gridw(7.5);
	font-size: 18px;
}

.copy-small {
	font-size: 14px;
	h2 {
		margin-bottom: 0px !important;
	}
}

.copy-bold { font-weight: bold;}
.copy-extra-bold { font-weight: 900; }

