<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            the <span class="header-bold">type-A</span>
        </h1>

        <p>The idea for blah blah came from blah - do lah dee dah.
        </p>
        <p>Here is the <span class="header-bold">type-A</span> - A lorem blah blah.
        </p>

        {{!-- <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Details:
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="#/">Lorem</a>
            </li>
        </ul> --}}
    </div>
    
</div>