<div class="general swipeage-item p-portfolio-landing">
	<div class="general-block general-padding content portfolio-hero-content">
		<h1 class="header-large">
			Hello, my name is Jared Smith (sometimes Smyth).
		</h1>
		<p>
			<ul>
				<li><span>Email:</span><a class="link" href="mailto:jared@jaredsmyth.info" >jared@jaredsmyth.info</a></li>
				<li><span>Phone:</span><a class="link" href="tel:1-850-322-5351">850-322-5351</a></li>
			</ul>
		</p>
	</div>
</div>