<div class="general swipeage-item p-portfolio-landing">
	<div class="general-block general-padding content portfolio-hero-content">
		<h1 class="header-large">
			Hello, my name is Jared Smith (sometimes Smyth).
		</h1>
		<p>
			I spent most of my life in Tallahassee, FL in the Lake Talquin forest, was homeschooled, and dropped out of college three times - I now live in El Cerrito, California and create beautiful, functional things… sometimes with javascript and css3, sometimes with modified reel-to-reel players, sometimes with cameras and film, and sometimes with wood and steel.  
		</p>
		<p>
		I currently spend the lion's share of my time as a senior engineer at <a class="link" href="http://johnmcneilstudio.com" target="_blank" >John McNeil Studio.</a>
		</p>
		<p>
			Have a look around and if you think I can help you execute a piece of your next project get in touch at one of the links below.
		</p>
		<p>
			<ul>
				<li class="contact-links"><span>Email:</span><a class="link" target="_blank" href="mailto:jared@jaredsmyth.info" >jared@jaredsmyth.info</a></li>
				<li class="contact-links"> <span>LinkedIn:</span><a class="link" target="_blank" href="http://www.linkedin.com/in/jaredshuansmith">/jaredshaunsmith</a> </li>
				<li class="contact-links"> <span>Flickr:</span><a class="link" target="_blank" href="http://flickr.com/jredsmyth">/jredsmyth</a> </li>
				<li class="contact-links"> <span>Instagram:</span><a class="link" target="_blank" href="http://instagram.com/jared_smith">@jared_smith</a> </li>
				<li class="contact-links"> <span>Github:</span><a class="link" target="_blank" href="https://github.com/jaredsmyth">/jaredsmyth</a> </li>
				<li class="contact-links"><span>Soundcloud:</span><a class="link" target="_blank" href="https://soundcloud.com/jared-smyth">/jared-smyth</a></li>
				<li class="contact-links"><span>Blog:</span><a class="link" target="_blank" href="http://uprlip.com/">uprlip.com</a></li>
			</ul>
		</p>
	</div>
</div>