<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            <span class="header-bold">JVST</span>
        </h1>

        <p>Portfolio site for San Francisco interactive agency, <a class="link" href="http://jvst.us" target="_blank">JVST</a>.</p>

        <p>Wordpress backend with Advanced Custom Fields, css3 hover animations, and custom javascript history plugin.
        </p>
        <p class="copy-small">2012</p>


        <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Live Site:
            </li>
            <li class="linklist-item linklist-cta">
                <a class="linklist-link" href="http://jvst.us" target="_blank">JVST.us</a>
            </li>
        </ul>
    </div>

</div>