<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            <span class="header-bold">Cloud Axis</span>
        </h1>

        <p>Landing page for <a class="link" href="http://polycom.com" target="_blank">Polycom's</a> Cloud Axis.
        </p>

        <p>Backbone.js app, css3 animations, and grunt.js on the development end.</p>

        <p class="copy-small">2013</p>

        <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Live Link:
            </li>
            <li class="linklist-item linklist-cta">
                <a class="linklist-link" href="http://www.polycom.com/content/dam/polycom/www/cloudaxis/index.html" target="_blank">polycom.com/cloudaxis</a>
            </li>
        </ul>
    </div>

</div>