<div id="application" class="application is-menu-expanded">
	<div id="menu">
		
	</div>
	<div id="content" class="application-content">
		<div class="swipeage">
			<div class="swipeage-wrapper js-swipeage">

			</div>
		</div>
	</div>
</div>