<div class="menu"><div class="menu-wrapper">
	<div class="menu-header"><a href="#/home" class="js-menu-link" data-menu="home"><img class="face" src="assets/images/face.png" /></a></div>

	<ul class="menu-nav">

		<li class="media">
			<a href="#/photos" class="menu-link menu-control-alt js-menu-link" data-menu="photos">
				<div class="media-preview"><i class="icon icon-48 icon-photos"></i></div>
				<div class="media-content">Photos</div>
			</a>

			<ul class="menu-subnav">
				<li><a class="menu-subnav-link delay-05" href="#/photos/afterhours"  image-length="1" data-submenu="photos-afterhours">After Hours</a></li>
				<li><a class="menu-subnav-link delay-07" href="#/photos/secretsofthecommonplace"  image-length="1" data-submenu="photos-secretsofthecommonplace">Secrets of the Commonplace</a></li>
				<li><a class="menu-subnav-link delay-09" href="#/photos/extendedinteractions"  image-length="1" data-submenu="photos-extendedinteractions">Extended Interactions</a></li>
				<li><a class="menu-subnav-link delay-12" href="#/photos/2013"  image-length="1" data-submenu="photos-2013">2013</a></li>
			</ul>
		</li>


		<li class="media">
			<a href="#/code" class="menu-link menu-control-alt js-menu-link" data-menu="code">
				<div class="media-preview"><i class="icon icon-48 icon-code"></i></div>
				<div class="media-content">Code</div>
			</a>

			<ul class="menu-subnav">
				<li><a class="menu-subnav-link" href="#/code/atthecenter" image-length="2" data-submenu="code-atthecenter">CA At the Center</a></li>
				<li><a class="menu-subnav-link" href="#/code/cloudaxis" image-length="4" data-submenu="code-cloudaxis">Cloud Axis</a></li>
				<li><a class="menu-subnav-link" href="#/code/defydistance" image-length="2" data-submenu="code-defydistance">Defy Distance</a></li>
				<li><a class="menu-subnav-link" href="#/code/jvst" image-length="2" data-submenu="code-jvst">JVST</a></li>
			</ul>
		</li>

		<li class="media">
			<a href="#/furniture" class="menu-link menu-control-alt js-menu-link" data-menu="furniture">
				<div class="media-preview"><i class="icon icon-48 icon-furniture"></i></div>
				<div class="media-content">Furniture</div>
			</a>

			<ul class="menu-subnav">
				<li><a class="menu-subnav-link delay-05" href="#/furniture/oscar" image-length="3"  data-submenu="furniture-oscar">the Oscar</a></li>
				<li><a class="menu-subnav-link delay-07" href="#/furniture/typea" image-length="4"  data-submenu="furniture-typea">the type-A</a></li>
				<li><a class="menu-subnav-link delay-09" href="#/furniture/bedsidelamp" image-length="1"  data-submenu="furniture-bedsidelamp">Bedside Lamp</a></li>
				<li><a class="menu-subnav-link delay-12" href="#/furniture/keyhooks" image-length="2"  data-submenu="furniture-keyhooks">Key Hooks</a></li>
				<li><a class="menu-subnav-link delay-14" href="#/furniture/simplecabinet" image-length="1"  data-submenu="furniture-simplecabinet">Simple Cabinet</a></li>
				<li><a class="menu-subnav-link delay-16" href="#/furniture/coffeetable" image-length="1"  data-submenu="furniture-coffeetable">Coffee Table</a></li>
			</ul>
		</li>
		
		<li class="media">
			<a href="#/music" class="menu-link menu-control-alt js-menu-link" data-menu="music">
				<div class="media-preview"><i class="icon icon-48 icon-music"></i></div>
				<div class="media-content">Music</div>
			</a>

			<ul class="menu-subnav">
				<li><a class="menu-subnav-link delay-05" href="#/music/fjall"  image-length="4" data-submenu="music-fjall">Fjall</a></li>
				<li><a class="menu-subnav-link delay-07" href="#/music/home"  image-length="2" data-submenu="music-home">Home</a></li>
				<li><a class="menu-subnav-link delay-09" href="#/music/outcroppings"  image-length="2" data-submenu="music-outcroppings">Outcroppings</a></li>
				<li><a class="menu-subnav-link delay-12" href="#/music/sanibel"  image-length="2" data-submenu="music-sanibel">Sanibel</a></li>
				<li><a class="menu-subnav-link delay-14" href="#/music/senescence"  image-length="2" data-submenu="music-senescence">Senescence</a></li>
			</ul>
		</li>
		
		<li class="media">
			<a href="#/contact" class="menu-link js-menu-link" data-menu="contact">
				<div class="media-preview"><i class="icon icon-48 icon-contact"></i></div>
				<div class="media-content">Contact</div>
			</a>
		</li>


	</ul>
	
	<a href="javascript:;" class="menu-control"><i class="icon icon-48 icon-burger"></i></a>
</div></div>