<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            the <span class="header-bold">coffee table</span>
        </h1>

        <p>Here is the <span class="header-bold">coffee table</span> - You've seen it before, you'll see it again... it's a chunk of wood on hairpin legs... except I bent and welded these hairpins myself. MCM y'all - (psst. for the unhip, that's mid centruy modern, not man candy monday)
        </p>

        {{!-- <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Details:
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="#/">Lorem</a>
            </li>
        </ul> --}}
    </div>
    
</div>