<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            the <span class="header-bold">bedside lamp</span>
        </h1>

        <p>Here is the <span class="header-bold">bedside lamp</span> - A one-off production for my wife. Made from 1/4" brass tubing and reclaimed hardware.
        </p>

        {{!-- <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Details:
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="#/">Lorem</a>
            </li>
        </ul> --}}
    </div>
    
</div>