<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            the <span class="header-bold">Oscar</span>
        </h1>

        <p>The idea for this piece came to me at about 5:30am one morning as I was sitting on the floor lacing up my boots for work, shoes around me on the floor... why not combine shoe storage with a bench to sit on?  
        </p>
        <p>Here is the <span class="header-bold">Oscar</span> - A wall-mounted bench, made from reclaimed wood, custom welded 45ยบ supports, and a suspended 10" deep, bent and welded rack made from 5/8" steel rod.
        </p>

        {{!-- <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Details:
            </li>
            <li class="linklist-item">
                <a class="linklist-link" href="#/">Lorem</a>
            </li>
        </ul> --}}
    </div>
    
</div>