<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            <span class="header-bold">CA At the Center</span>
        </h1>

        <p>Landing page for <a class="link" href="http://ca.com" target="_blank">CA's</a>, "CA At the Center" campaign. 
        </p>

        <p>Backbone.js app, css3 animations, require.js, and grunt.js on the development end.</p>

        <p class="copy-small">2013</p>

        <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Live Site:
            </li>
            <li class="linklist-item linklist-cta">
                <a class="linklist-link" href="http://www.ca.com/us/lpg/ca-at-the-center.aspx" target="_blank">ca.com/AtTheCenter</a>
            </li>
        </ul>
    </div>

</div>