<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            <span class="header-bold">I told you things were about to get weird</span>
        </h1>

        <p>a note to you (excerpt from the book)

in 2013 i set out to take a series of photos each day – a minimum of three photos a day.
these photos were shot, edited, and published to my blog by the end of each day.
the following photos were all shot in 2013, some published to the blog, but many more never published anywhere before.

included you will find photos from oakland, san francisco, el cerrito, berkeley, and monte rio / russian river, california. photos from portland, oregon, austin, texas, tallahassee, florida, and sanibel island, florida.
        </p>

        <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Links:
            </li>
            <li class="linklist-item">
                <a class="linklist-link linklist-cta" href="http://www.blurb.com/b/4979381-i-told-you-things-were-about-to-get-weird" target="_blank">Purchase Book</a>
            </li>
            <li class="linklist-item linklist-cta">
                <a class="linklist-link linklist-cta" href="http://uprlip.com" target="_blank">View 2013 Blog</a>
            </li>
        </ul>
    </div>
    
</div>