<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            <span class="header-bold">Outcroppings</span>
        </h1>

        <p>Cassette, josh mason - blah ipsum</p>

        <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Links:
            </li>
            <li class="linklist-item"><a class="linklist-link" href="http://sunshineltd.info/?sunshine_product=mason-smyth-outcroppings" target="_blank">Listen / <strike>Sold out</strike></a></li>
        </ul>
    </div>
</div>