<div class="p-portfolio-landing general content">
    <div class="general-column general-2of5 general-padding portfolio-content portfolio-hero-content">
        <h1>
            <span class="header-bold">Outcroppings</span>
        </h1>
        <p>Limited edition of cassettes released on Sunshine Ltd. by and with my good friend, Josh Mason.</p>

        <p>What started as an after-show discussion about the use of electronics in live environments, ended in a set of recordings made in November, 2011 without the use of digital devices, post-processing or effects. Recorded to 1/4″ tape and dubbed on Nakamichi decks by Josh Mason.</p>

        <ul class="linklist linklist-blue">
            <li class="linklist-item link-header">
                Links:
            </li>
            <li class="linklist-item"><a class="linklist-link" href="http://sunshineltd.info/?sunshine_product=mason-smyth-outcroppings" target="_blank">Listen / <strike>Sold out</strike></a></li>
        </ul>
    </div>
</div>