<div class="general swipeage-item p-portfolio-landing">
	<div class="general-block general-padding content portfolio-hero-content">
		<h1 class="header-large">
			Hello, my name is Jared Smith (sometimes Smyth).
		</h1>
		<p>
			I spent most of my life in Tallahassee, FL in the Lake Talquin forest, was homeschooled, and dropped out of college three times - I now live in El Cerrito, California and create beautiful, functional things… sometimes with javascript and css3, sometimes with modified reel-to-reel players, sometimes with cameras and film, and sometimes with wood and steel.  
		</p>
		<p>
		I currently spend the lion's share of my time as a senior engineer at <a class="link" href="http://johnmcneilstudio.com" target="_blank" >John McNeil Studio.</a>
		</p>
		<p>
			Have a look around and if you think I can help you execute a piece of your next project get in touch <a class="link" href="#/contact">here</a>.
		</p>
	</div>
</div>