<div class="general swipeage-item p-home-landing">
	<div class="general-block general-padding content">
		<h1 class="header-large">
			Hello, my name is Jared Smith (sometimes Smyth).
		</h1>
		<p>
			I am a father, and husband.  I spent most of my life in Tallahassee, FL - I now live in El Cerrito, California and create beautiful, functional things… sometimes with javascript and css3, sometimes with modified reel-to-reel players, sometimes with cameras and film, and sometimes with wood and steel.  
		</p>
		<p>
			Have a look around and if you think I can help you execute a piece of your next project get in touch <a class="link" href="#/contact">here</a>.
		</p>
	</div>
</div>